html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Verwenden Sie Flexbox, um die Seitenhöhe anzupassen */
body {
    display: flex;
    flex-direction: column;
}

/* Der Hauptbereich (main) wird flexibel und nimmt den verbleibenden Platz ein */
main {
    flex: 1;
}