<!-- template.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">

<head th:replace="~{fragments/general :: head}"></head>

<body>
  <header th:replace="~{fragments/general :: header}"></header>
  <main class="container d-flex flex-column py-3">
    <div class="rounded-2 border shadow-sm bg-light flex-fill px-5 py-4 d-flex flex-column">
      <h4 class="mb-3">AAS Configurator</h4>
      Here you can configure a new AAS and specify all the datails for the submodels Nameplate, Technical Data and
      Carbon Footprint. Add all relevant
      informations and submit save.

      <hr class="mb-4">
      <form class="needs-validation flex-fill d-flex flex-column" method="post" action="/aas/submission">
        <div class="flex-fill">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="assetIDshort">Asset ID short</label>
              <input name="assetIDshort" type="text" class="form-control" id="assetIDshort" placeholder="newAssetName"
                value="" required="">
              <div class="invalid-feedback">
                Valid short asset ID is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="assetID">Asset ID</label>
              <input name="assetID" type="text" class="form-control" id="assetID"
                placeholder="https://example.company.com/newAssetName" value="" required="">
              <div class="invalid-feedback">
                Valid asset ID is required.
              </div>
            </div>
          </div>
          <div class="accordion mt-4" id="accordionExample">
            <!--Expandable div for the submodel Nameplate -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNameplate">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseNameplate" aria-expanded="false" aria-controls="collapseNameplate">
                  Nameplate
                </button>
              </h2>
              <div id="collapseNameplate" class="accordion-collapse collapse" aria-labelledby="headingNameplate"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="mb-3">
                    <label for="URIOfTheProduct">URI of the Product</label>
                    <input name="URIOfTheProduct" type="text" class="form-control" id="URIOfTheProduct"
                      placeholder="https://www.domain-abc.com/Model-Nr-1234/Serial-Nr-5678">
                    <div class="invalid-feedback">
                      The URI of the product is missing.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="ManufacturerName">Manufacturer Name</label>
                    <input name="ManufacturerName" type="text" class="form-control" id="ManufacturerName"
                      placeholder="Muster AG">
                    <div class="invalid-feedback">
                      The Manufacturer Name is missing.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="SerialNumber">Serial Number</label>
                    <input name="SerialNumber" type="number" class="form-control" id="SerialNumber"
                      placeholder="123456789">
                    <div class="invalid-feedback">
                      The Serial Number of the product is missing.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 mb-3">
                      <label for="YearOfConstruction">Year of Construction</label>
                      <input name="YearOfConstruction" type="text" class="form-control" id="YearOfConstruction"
                        placeholder="2023">
                      <div class="invalid-feedback">
                        The Year of Construction is missing.
                      </div>
                    </div>
                    <div class="col-6 mb-3">
                      <label for="DateOfManufacture">Date of Manufacture</label>
                      <input name="DateOfManufacture" type="text" class="form-control" id="DateOfManufacture"
                        placeholder="2023-01-01">
                      <div class="invalid-feedback">
                        The Date of Manufacture is missing.
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--Expandable div for the submodel Carbon Technical Data -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTechnicalData">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTechnicalData" aria-expanded="false" aria-controls="collapseTechnicalData">
                  Technical Data
                </button>
              </h2>
              <div id="collapseTechnicalData" class="accordion-collapse collapse" aria-labelledby="headingTechnicalData"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="mb-3">
                    <label for="ManufacturerOrderCode">Manufacturer Oder Code</label>
                    <input name="ManufacturerOrderCode" type="text" class="form-control" id="ManufacturerOrderCode"
                      placeholder="123456789">
                    <div class="invalid-feedback">
                      The Serial Number of the product is missing.
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5 mb-3">
                      <label class="form-label" for="ManufacturerLogo">Manufacturer Logo</label>
                      <input type="file" class="form-control" id="ManufacturerLogo" />
                    </div>
                    <div class="col-5 mb-3">
                      <label class="form-label" for="ProductImage">Product Image</label>
                      <input type="file" class="form-control" id="ProductImage" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Expandable div for the submodel Carbon Footprint -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingCarbonFootprint">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseCarbonFootprint" aria-expanded="false"
                  aria-controls="collapseCarbonFootprint">
                  Carbon Footprint
                </button>
              </h2>
              <div id="collapseCarbonFootprint" class="accordion-collapse collapse"
                aria-labelledby="headingCarbonFootprint" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                  <h5 class="mt-5">Product Carbon Footprint</h5>
                  <hr class="mb-4">
                  <div class="mb-3">
                    <label for="PCFCalculationMethod">Calculation Method</label>
                    <select name="PCFCalculationMethod" class="custom-select d-block w-100" id="PCFCalculationMethod"
                      required="">
                      <option value="">Choose...</option>
                      <option value="0173-1#07-ABU223#001">EN 15804</option>
                      <option value="0173-1#07-ABU221#001">GHG Protocol</option>
                      <option value="0173-1#07-ABU222#001">IEC TS 63058</option>
                      <option value="0173-1#07-ABV505#001">ISO 14040</option>
                      <option value="0173-1#07-ABV506#001">ISO 14044</option>
                      <option value="0173-1#07-ABU218#001">ISO 14067</option>
                    </select>
                    <div class="invalid-feedback">
                      Please enter a calulation method.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="PCFCO2eq">CO2 Equivalent</label>
                    <input name="PCFCO2eq" type="number" class="form-control" id="PCFCO2eq" placeholder="0.00" min="0">
                    <div class="invalid-feedback">
                      A CO2 equivalent is missing.
                    </div>
                  </div>

                  <div class="row d-flex flex-row">
                    <div class="col-6 mb-3">
                      <label for="PCFQuantityOfMeasureForCalculation">Quantity of the measured product</label>
                      <input name="PCFQuantityOfMeasureForCalculation" type="number" class="form-control"
                        id="PCFQuantityOfMeasureForCalculation" placeholder="0" min="0">
                    </div>
                    <div class="col-3 mb-3">
                      <label for="PCFReferenceValueForCalculation">Reference Value</label>
                      <select name="PCFReferenceValueForCalculation" class="custom-select d-block"
                        id="PCFReferenceValueForCalculation" required="">
                        <option value="">Choose...</option>
                        <option value="0173-1#07-ABZ596#001">g</option>
                        <option value="0173-1#07-ABZ597#001">kg</option>
                        <option value="0173-1#07-ABZ598#001">t</option>
                        <option value="0173-1#07-ABZ599#001">ml</option>
                        <option value="0173-1#07-ABZ600#001">l</option>
                        <option value="0173-1#07-ABZ601#001">cbm</option>
                        <option value="0173-1#07-ABZ602#001">qm</option>
                        <option value="0173-1#07-ABZ603#001">piece</option>
                      </select>
                      <div class="invalid-feedback">
                        Please enter a reference value.
                      </div>
                    </div>

                  </div>





                  <div class="mb-3">
                    <label for="PCFLiveCyclePhase">Live Cycle Phase of the Product</label>
                    <select name="PCFLiveCyclePhase" class="custom-select d-block w-100" id="PCFLiveCyclePhase"
                      required="">
                      <option value="">Choose...</option>
                      <option value="0173-1#07-ABU208#001">A1 – raw material supply (and upstream production)</option>
                      <option value="0173-1#07-ABU209#001">A2 - cradle-to-gate transport to factory</option>
                      <option value="0173-1#07-ABU210#001">A3 - production</option>
                      <option value="0173-1#07-ABU211#001">A4 - transport to final destination</option>
                      <option value="0173-1#07-ABU212#001">B1 – usage phase</option>
                      <option value="0173-1#07-ABV498#001">B2 – maintenance</option>
                      <option value="0173-1#07-ABV497#001">B3 - repair</option>
                      <option value="0173-1#07-ABV499#001">B5 – update/upgrade, refurbishing</option>
                      <option value="0173-1#07-ABV500#001">B6 – usage energy consumption</option>
                      <option value="0173-1#07-ABV501#001">B7 – usage water consumption</option>
                      <option value="0173-1#07-ABV502#001">C1 – reassembly</option>
                      <option value="0173-1#07-ABU213#001">C2 – transport to recycler</option>
                      <option value="0173-1#07-ABV503#001">C3 – recycling, waste treatment</option>
                      <option value="0173-1#07-ABV504#001">C4 – landfill</option>
                      <option value="0173-1#07-ABU214#001">D - reuse</option>
                      <option value="0173-1#07-ABZ789#001">A1-A3</option>
                    </select>
                    <div class="invalid-feedback">
                      Please enter a reference value.
                    </div>
                  </div>



                  <h5 class="mt-5">Transport Carbon Footprint</h5>
                  <hr class="mb-4">



                  <div class="mb-3">
                    <label for="TCFCalculationMethod">Calculation Method</label>
                    <select name="TCFCalculationMethod" class="custom-select d-block w-100" id="TCFCalculationMethod"
                      required="">
                      <option value="">Choose...</option>
                      <option value="0173-1#07-ABU223#001">EN 15804</option>
                      <option value="0173-1#07-ABU221#001">GHG Protocol</option>
                      <option value="0173-1#07-ABU222#001">IEC TS 63058</option>
                      <option value="0173-1#07-ABV505#001">ISO 14040</option>
                      <option value="0173-1#07-ABV506#001">ISO 14044</option>
                      <option value="0173-1#07-ABU218#001">ISO 14067</option>
                    </select>
                    <div class="invalid-feedback">
                      Please enter a calulation method.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="TCFCO2eq">CO2 Equivalent</label>
                    <input name="TCFCO2eq" type="number" class="form-control" id="TCFCO2eq" placeholder="0.00" min="0">
                    <div class="invalid-feedback">
                      A CO2 equivalent is missing.
                    </div>
                  </div>


                  <div class="row d-flex flex-row">
                    <div class="col-6 mb-3">
                      <label for="TCFQuantityOfMeasureForCalculation">Quantity of the measured product</label>
                      <input name="TCFQuantityOfMeasureForCalculation" type="number" class="form-control"
                        id="TCFQuantityOfMeasureForCalculation" placeholder="0" min="0">
                    </div>
                    <div class="col-3 mb-3">
                      <label for="TCFReferenceValueForCalculation">Reference Value</label>
                      <select name="TCFReferenceValueForCalculation" class="custom-select d-block w-100"
                        id="TCFReferenceValueForCalculation" required="">
                        <option value="">Choose...</option>
                        <option value="0173-1#07-ABZ596#001">g</option>
                        <option value="0173-1#07-ABZ597#001">kg</option>
                        <option value="0173-1#07-ABZ598#001">t</option>
                        <option value="0173-1#07-ABZ599#001">ml</option>
                        <option value="0173-1#07-ABZ600#001">l</option>
                        <option value="0173-1#07-ABZ601#001">cbm</option>
                        <option value="0173-1#07-ABZ602#001">qm</option>
                        <option value="0173-1#07-ABZ603#001">piece</option>
                      </select>
                      <div class="invalid-feedback">
                        Please enter a reference value.
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-5">
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary btn-lg align-self-end align-self-bottom" type="submit">Save</button>
        </div>
      </form>
    </div>

  </main>

  <footer th:replace="~{fragments/general :: footer}"></footer>

</body>

</html>